 <footer class="footer">
      <div class="left">
     
       <p class="links">
        
        <a href="./vandalismo.html" title="Home">Vandalismo</a>
        <a href="./chapa.html" title="Html">Grêmio</a>
        <a href="./site.html" title="Css">Festa Junina</a>
        <a href="./spf.html" title="jQuery">SPF</a>
       </p>
       <div class="footer-icons">
        <a href="https://github.com/juliaayomide"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/ayomide.ju"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/isaxsccp"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/isaxsccp/"><i class="fa fa-instagram"></i></a>
       
       </div>
                     <p class="Copyright">Copyright &copy; 2024 Voice - Todos os Direitos Reservados.</p>
      </div>