   <div class="header">
        <a href="#default" class="logo">VOICE</a>
        <div class="header-right">
          <a href="./index.html">Home</a>
          <a href="./contato.html">Contato</a>
        </div>
      </div>