<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/assets/css/contato.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <title>Contato</title>
 
  <h1 class="devs">CONTATO</h1>
  <div class="division">
    <div class="container">

      <div class="outer">
        <div class="content">


          <div class="image-box">
            <img src="../public/assets/images/fotoisa.jpeg" alt="">
          </div>
          <div class="details">
            <div class="name">Isabella Louise</div>
            <div class="job">Aluna do 2º DS</div>
            <div class="buttons">
              <p>"Olá! Sou a Isabella, uma estudante de Desenvolvimento de Sistemas, moro na Zona Leste de
                São Paulo. Meu portfólio é um reflexo do meu comprometimento em aprender e crescer na área de
                tecnologia.
              </p>
            </div>
          </div>
          <div class="media-icons">
            <a href="https://github.com/isaxsccp"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/isaxsccp/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <div class="outer">
        <div class="content">


          <div class="image-box">
            <img src="../public/assets/images/ftojulia.jpeg" alt="">
          </div>
          <div class="details">
            <div class="name">Julia Ayomide</div>
            <div class="job">Aluna 2ºDS</div>
            <div class="buttons">
              <p>Sou a Julia, moro na zona leste de São Paulo e sou uma estudante de desenvolvimento de sistemas da ETEC
                de cidade tirandentes sempre buscando por conhecimento.</p>

            </div>
          </div>
          <div class="media-icons">
            <a href="https://github.com/juliaayomide"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/ayomide.ju"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</head>

<body>

</body>

</html>
