<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/assets/css/noticia.css"> // linkando css
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> // linkando bootstrap
    <link href="../public/assets/images/noticias.png" rel="icon">
    <title>Voice</title>
</head>
<body>
       <div class="header">
        <a href="#default" class="logo">VOICE</a>
        <div class="header-right">
          <a href="./index.html">Home</a>
          <a href="./contato.html">Contato</a>
        </div>
      </div>
    <div class="box1">
        <div class="boxx1">
            <div class="texto1">
                <h3>{{this.titulo}}</h3>
            </div>
            <div class="card">
                <div class="image_container">
                    <div class="caxinha">
                        <img src="./assets/fechad.jpg" alt="j1">
                    </div>
                    <path
                        d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z">
                    </path>
                    </svg>
                </div>
                <div class="title">
                </div>
            </div>
        </div>
    </div>
    </div>
 
        <div class="vamo">
            <div class="bora">
                <h2>{{this.subtitulo}}</h2>
               <h5 class="textoo">{{this.conteudo}}</h4>
                    
        </div>
        </div>
       
</body>
</html>
